<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009587934655-oue247jetmmhvfh4jd8njat9ah5c1o9s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009587934655-oue247jetmmhvfh4jd8njat9ah5c1o9s</string>
	<key>API_KEY</key>
	<string>AIzaSyB0IACIqNgO7EZyMrZLogAeP1aJQMoD9kU</string>
	<key>GCM_SENDER_ID</key>
	<string>1009587934655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.patients</string>
	<key>PROJECT_ID</key>
	<string>patients-19403</string>
	<key>STORAGE_BUCKET</key>
	<string>patients-19403.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009587934655:ios:ed0ed39ae0e15a02bafd0a</string>
</dict>
</plist>